.header{
  background-color: rgb(226, 110, 27);
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 7px;
  color: white;
}
.btn{
  padding: 7px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.logo{
  text-decoration:underline;
}