button{
  padding: 8px 16px;
  border: none;
  background-color: indianred;
  color: white;
  font-size: medium;
  border-radius: 6px;
  cursor: pointer;
  margin: 20px;
}
h1{
  padding: 8px 16px;
  border: none;
  background-color: indianred;
  color: white;
  font-size: medium;
  border-radius: 6px;
  cursor: pointer;
  margin: 20px;
  width: fit-content;
  margin-left: 120px;
}