*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
}
.light{
  display: flex;
  background-color:tomato;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  color: white;
}
.Dark{
  display: flex;
  background-color:aquamarine;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  color: black;
}
.nav2{
  display: flex;
  gap: 30px;
}