*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica neue;
  background-color: #222;
  /* margin: 5px; */
  color: white;
}
html,body{
  height: 100%;
  width: 100%;
}
.btn{
  display: flex;
  gap: 20px;
}
button{
  margin: 15px 0;
  background-color: white;
  border: none;
  color: black;
  padding: 8px 16px;
  border-radius:20px;
}

input{
  border: none;
  background-color: white;
  margin: 10px;
  padding: 8px 10px;
  cursor:pointer;
  border-radius: 6px;
  color: #111;
}

.box{
  height: 200px;
  width: 200px;
  background-color: orange;
}
.page1{
  height: 100vh;
  width: 100%;
  background-color: #111;
}
.page2{
  height: 100vh;
  width: 100%;
  background-color: #222;
}
.page3{
  height: 100vh;
  width: 100%;
  background-color: #333;
}